*.vsidx
*.cache
*.editorConfig
CodeChallenge/obj/Debug/net6.0/CodeChallenge.csproj.FileListAbsolute.txt
CodeChallenge/obj/Debug/net6.0/CodeChallenge.sourcelink.json
.vs/CodeChallenge/v17/DocumentLayout.json
.vs/CodeChallenge/v17/DocumentLayout.backup.json
*.dll
*.bin
CodeChallenge/bin/Debug/net6.0/CodeChallenge.exe
.vs/CodeChallenge/config/applicationhost.config
.vs/CodeChallenge/v17/.futdcache.v2
CodeChallenge/bin/Debug/net6.0/appsettings.Development.json
CodeChallenge/bin/Debug/net6.0/appsettings.json
CodeChallenge/bin/Debug/net6.0/CodeChallenge.deps.json
*.pdb
CodeChallenge/bin/Debug/net6.0/CodeChallenge.runtimeconfig.json
CodeChallenge/bin/Debug/net6.0/CodeChallenge.staticwebassets.endpoints.json
CodeChallenge/bin/Debug/net6.0/resources/EmployeeSeedData.json
CodeChallenge/obj/Debug/net6.0/ApiEndpoints.json
*.exe
*.Up2Date
*.BuildWithSkipAnalyzers
CodeChallenge/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
*.props
CodeChallenge/obj/Debug/net6.0/staticwebassets.build.json
CodeChallenge/obj/Debug/net6.0/staticwebassets.build.endpoints.json
*.suo
CodeChallenge.Tests/obj/CodeChallenge.Tests.Integration.csproj.nuget.dgspec.json
CodeChallenge/obj/CodeChallenge.csproj.nuget.dgspec.json
CodeChallenge/obj/project.assets.json
